.addNewBlock{
  margin-top: 10px;
}

body{
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 300;  
}

button{
  border-radius: 0;
}

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.form-control {
  border-radius: 0;
}

h1 {
  font-weight: 400; 
}

.header{
  color: blue;
  padding: 10px;
  padding-left: 20px;
  background-color: orange;
  margin-bottom: 10px;
}
input {
  font-weight: 300;
}

.input-group-addon {
  border-radius: 0; 
}

.jumbotron{
  background-color: transparent; 
}

label {
  width= 100%;
}
th{
  font-weight: 300;
}

@font-face {
  font-family: 'Oswald', sans-serif;
}


